{% for matrixBlock in entry.layout.all() %}
{% switch matrixBlock.type %}

    {% case "details" %}
    <div class="grid-container" data-aos="fade-in">
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">
    {% for details in matrixBlock.details %}
      <div class="cell">
        {{ details.text | markdown }}
      </div>
    {% endfor %}
    </div>
    </div>

    {% case "grid" %}
    <div class="grid-container" data-aos="fade-in">
      <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
      {% for image in matrixBlock.grid %}
      <div class="cell">
        {% set image = image.image.one() %}
        <div class="image--portrait test" data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"></div>
      </div>
      {% endfor %}
      </div>
    </div>

    
    {% case "text" %}    
    {% if matrixBlock.position == 'full' %}
    <div class="grid-container" data-aos="fade-in">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 cell">
        {{ matrixBlock.text | markdown }}
      </div>
    </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-container" data-aos="fade-in">
    <div class="grid-x grid-padding-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 medium-9 large-10 cell">
        {{ matrixBlock.text | markdown }}
      </div>
    </div>
    </div>
    {% endif %}

    {% case "pantone" %}
    <div class="grid-container" data-aos="fade-in">
      <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
        
      {% for pantone in matrixBlock.pantone %}
      <div class="cell">
      {% set image = pantone.image.one() %}
      <div class="grid-x">
      <div class="small-12 cell">
        <div class="image--square" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">
          <div class="content {{ pantone.text|kebab }}">
            <div class="grid-y height-100 align-center-middle">
              <div class="shrink cell text-center">
                <div><svg class="icon icon-pantone-square"><use xlink:href="/img/symbol-defs.svg#icon-pantone-square"></use></svg></div>
                {{ pantone.text }}
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      <div class="grid-x">
      <div class="small-12 cell padding-1 margin-top-1 {{ pantone.text|kebab }}-block">
      <div>{{ pantone.colour }}</div>
      <div>R {{ pantone.red }}</div>
      <div>G {{ pantone.green }}</div>
      <div>B {{ pantone.blue }}</div>
      </div>
      </div>


      </div>
      {% endfor %}

      </div>
    </div>

    {% case "line" %}
    <div class="grid-container" data-aos="fade-in">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 cell">
<div class="line"></div>
        </div>
      </div>
    </div>

    {% case "quote" %}    
    {% if matrixBlock.position == 'full' %}
    <div class="grid-x grid-padding-y">
      <div class="small-12 cell">
        <blockquote>
          <h3>{{ matrixBlock.quote| markdown }}</h3>
          <cite>{{ matrixBlock.cite| markdown }}</cite>
        </blockquote>

      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}">
      <div class="small-12 medium-9 cell">
        <blockquote>
          <h3>{{ matrixBlock.quote| markdown }}</h3>
          <cite>{{ matrixBlock.cite| markdown }}</cite>
        </blockquote>
      </div>
    </div>
    {% endif %}
    
    {% case "imageWithText" %}
    {% if matrixBlock.position == 'left' %}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 cell text-left medium-text-right overlap-wrapper--left">
    
        <div class="grid-block overlap-image" data-aos="fade-in">
          {% set image = matrixBlock.image.one() %}
          <div class="image--default align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">
          <div class="background"></div>
          </div>
        </div>
    
        <div class="grid-block align-self-middle medium-pull-1 overlap-text padding-1" data-aos="fade-in">
          {{ matrixBlock.text | markdown }}
        </div>
    
      </div>
    </div>
    {% elseif matrixBlock.position == 'right' %}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 cell text-left overlap-wrapper--right">
    
        <div class="grid-block align-self-middle medium-push-1 overlap-text padding-1" data-aos="fade-in">
          {{ matrixBlock.text | markdown }}
        </div>
    
        <div class="grid-block overlap-image" data-aos="fade-in">
          {% set image = matrixBlock.image.one() %}
          <div class="image--default align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}"></div>
        </div>
    
      </div>
    </div>
    {% endif %}
    
    {% case "image" %}
    {% if matrixBlock.position == 'full' %}
    <div class="grid-container" data-aos="fade-in">
      <div class="grid-x grid-padding-y align-center">
        <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% endif %} cell">
        {% set image = matrixBlock.image.one() %}
        <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" 
          {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
          {% elseif matrixBlock.aspectRatio.label | kebab == 'default' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
          {% elseif matrixBlock.aspectRatio.label | kebab == 'square' %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}"
          {% elseif matrixBlock.aspectRatio.label | kebab == 'panorama' %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"
          {% else %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
          {% endif %}>
        </div>
        </div>
      </div>
    </div>
    {% elseif matrixBlock.position in ['left', 'right', 'center'] %}
    <div class="grid-container">
    <div class="grid-x grid-padding-y align-{{ matrixBlock.position }}" data-aos="fade-in">
      <div class="small-12 {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}medium-6{% else %}medium-10 large-9{% endif %} cell">
      {% set image = matrixBlock.image.one() %}
      <div class="image--{{ matrixBlock.aspectRatio.label | kebab }}" 
        {% if matrixBlock.aspectRatio.label | kebab == 'portrait' %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'default' %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'square' %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}"
        {% elseif matrixBlock.aspectRatio.label | kebab == 'panorama' %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"
        {% else %}data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"
        {% endif %}>
      </div>
      {% if matrixBlock.caption %}<div class="caption">{{ matrixBlock.caption }}</div>{% endif %}
      </div>
    </div>
    </div>
    {% endif %}
    
    
    {% case "portraitPair" %}
    {% if matrixBlock.position == 'left' %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-8 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
    {% elseif matrixBlock.position == 'center' %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
    {% elseif matrixBlock.position == 'right' %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-8 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-5 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-12" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
    {% endif %}


    {% case "portraitTrio" %}
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-4 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[0] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-4" %}"{% endif %}></div>
          </div>
        </div>
              
      </div>
      
      <div class="small-12 medium-4 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[1] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-4" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>

      <div class="small-12 medium-4 cell align-self-middle">
        
        <div class="grid-x grid-padding-y align-center">
          <div class="small-12 medium-12 cell align-self-middle">
            {% set image = matrixBlock.images[2] %}
            <div class="image--portrait" {% if image %}data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-4" %}"{% endif %}></div>
          </div>
        </div>   
        
      </div>
    </div>
  
    
    {% case "video" %}
    <div class="grid-x grid-padding-y align-center">
      <div class="small-12 medium-10 cell">

      {% set image = matrixBlock.image.one() %}
      <div class="image--panorama" {% if image %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"{% endif %}>
        <div class="grid-y height-100 align-center content">
            <div class="shrink cell text-center text-lowercase padding-2" id="video-gallery">
              <a href="{{ matrixBlock.embed }}">
                <h1 class="white"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></h1>
                <div class="white sans-bold text-uppercase tiny">Play Video</div>
              </a>
            </div>
        </div>
      </div>
    
      <div class="margin-top-1 text-center">
      {% if matrixBlock.header %}
      <h4>{{ matrixBlock.header }}</h4>
      {% endif %}
      {% if matrixBlock.subheader %}
      <p>{{ matrixBlock.subheader }}</p>
      {% endif %}
      </div>

      </div>
    </div>

    {% case "carousel" %}

    <div class="grid-x grid-padding-y">
      <div class="small-12 cell">
      
        <div class="swiper-container carousel--matrix">
          <div class="swiper-wrapper padding-vertical-1">
            {% for image in matrixBlock.images %}
            <div class="swiper-slide">
              <img data-interchange="[{{images.domain}}{{ image.filename }}?h=400&fit=crop&ch=dpr&cs=tinysrgb&dpr=2&format=compress}}, xxlarge-retina]">
            </div>
            {% endfor %}
          </div>
    
          <!-- Carousel Navigation -->
          <div class="grid-x grid-padding-x grid-padding-y align-justify">
            <div class="shrink cell">
              <ul class="menu">
                <li class="test-prev menu-text"><svg class="icon icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></li>
                <li class="test-next menu-text"><svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></li>
              </ul>
            </div>
          </div>
          <!-- End Carousel Navigation -->
        </div>
      
      </div>
    </div>
    <!-- End Carousel -->
    
{% endswitch %}
{% endfor %}