{% set bodyClass = 'contact' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}

<div class="grid-container">

    <div class="grid-x grid-padding-x grid-padding-y align-justify">
      <div class="small-12 large-6 cell">
      
        <div class="grid-x grid-padding-x grid-padding-y align-justify">
          <div class="shrink cell">
          {{entry.copy}}
          </div>
        </div>
    
        <div class="grid-x grid-padding-x grid-padding-y align-justify">
          <div class="shrink cell">
          <div>{{company.address}}</div>
          <div>{{company.phoneNumber}}</div>
          </div>
        </div>

      </div>

      <div class="small-12 large-6 cell">
      
      <form method="post" action="" accept-charset="UTF-8">
          {{ csrfInput() }}
          <input type="hidden" name="action" value="contact-form/send">
          {{ redirectInput('contact/thanks') }}

      
          <h3><label for="from-email">Your Email</label></h3>
          <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">

      
          <h3><label for="subject">Subject</label></h3>
          <input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">

      
          <h3><label for="message">Message</label></h3>
          <textarea rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
      
          <input type="submit" class="button" value="Send">
      </form>

      </div>

    </div>


    

</div>
{% endblock %}


{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}